[submodule "submodules/term.js"]
	path = submodules/term.js
	url = https://github.com/chjj/term.js
[submodule "submodules/html2canvas"]
	path = submodules/html2canvas
	url = https://github.com/niklasvh/html2canvas.git
[submodule "submodules/gif.js"]
	path = submodules/gif.js
	url = https://github.com/jnordberg/gif.js.git
