[submodule "submodules/term.js"]
	path = submodules/term.js
	url = https://github.com/chjj/term.js
[submodule "submodules/html2canvas"]
	path = submodules/html2canvas
	url = https://github.com/niklasvh/html2canvas.git
[submodule "submodules/gif.js"]
	path = submodules/gif.js
	url = https://github.com/jnordberg/gif.js.git
[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "submodules/bootstrap-slider"]
	path = submodules/bootstrap-slider
	url = https://github.com/seiyria/bootstrap-slider.git
[submodule "submodules/bootstrap-colorpicker"]
	path = submodules/bootstrap-colorpicker
	url = https://github.com/mjolnic/bootstrap-colorpicker.git
