#term {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#sample {
    margin: 10px;
}

.terminal {
    float: left;
    border: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 16px;
    color: #f0f0f0;
    background: #000;
}

.terminal-cursor {
    color: #000;
    background: #f0f0f0;
}

#editor {
    display: none;
}

#editor .slider {
    width: 100%;
}
